/* Options
––––––––––––––––––––––––––––––––––––––––––––––––––  */

$fixed-nav: false !default;

// Global
$content_text-color:  #1d1d1d;

// Navbar
$navbar-background: #2c2c2c;
$navbar-box-shadow: 0 11px 15px -6px #6d6d6d;
$navbar-brand-color: #000;
$navbar-brand-color-hover: #000;
$navbar-brand-font-weigh: bold;
$navbar-brand-font-size: 1.2rem;
$navbar-link-color: #ffffff;
$navbar-link-color-hover:rgb(100, 255, 126);
$navbar-link-font-size: 1.44rem;
$navbar-link-font-weigh: lighter;


// Footer
$footer-background: rgb(37, 37, 37);
$footer-font-weight: lighter;
$footer-text-color: rgb(255, 255, 255);
$footer-link-color: #ffffff;
$footer-link-color-hover: #64ff7e;