//- The line below will capture other footer in case you create in other pages pug
block footer

//- Below is the default footer. You can and should change according to your site.
div.container-fluid.fixed-bottom.footer
    div.row.footer__wrapper
        div.col-sm-4
            p.text-center Copyright (c) 2019-2021 - Go!Sync Pug
        div.col-sm-4
            p.text-center Simple boilerplate for doing complex things
        div.col-sm-4
            p.text-center
                span Create wih <3 by
                a.footer__link(href="https://williamcanin.github.io", target="_blank") William C. Canin